// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
    .headline {
      font-size: 32px;
    }
}